h1,h2{
    text-align: center;
    color:rgb(62, 106, 43);
    background-color: rgb(147, 161, 38);
}
p{
    
    font-family:'Times New Roman', Times, serif;
    margin: 15px;
    color: rgb(33, 37, 41);
}

ul, ol{
    
    color: rgb(15, 99, 66);
}

img{
    padding: 10px;
    border: 2px solid rgb(62, 106, 43);
    margin: 20px 0;
    border-radius: 5px;
}

img + p{
    margin: 10px 0 20px 0;
    font-style: italic;
    color: rgb(108, 117, 125);
    padding-left: 10px;
}

body{
    background-color: rgb(208, 243, 185);
    margin: 20px;
    font-size: 18px;
}

#bio {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(62, 106, 43);
}
footer {
    text-align: center;
    font-size: 14px;
    color: rgb(108, 117, 125);
    margin-top: 30px;
    border-top: 1px solid rgb(62, 106, 43);
    padding-top: 10px;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align:left;
    margin-bottom: 20px;
}

header nav a {
    color: rgb(62, 106, 43);
    text-decoration: none;
}

header nav a:hover {
    color: rgb(147, 161, 38);
    text-decoration: underline;
}
